html {
  font-family: sans-serif;
  color: white;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: lime;
}

ul {
  padding: 0 0 0 1em;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  box-shadow: 0 1px 20px -10px rgba(black, 0.2);
}

.child-element {
  width: 100%;
  padding: 2em;
  position: relative;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.2);
}

.element-1 {
  background-color: #f4f4f4;
}

.element-2 {
  background-color: #eaeaea;
}

.element-3 {
  background-color: #d5d5d5;
}

.element-4 {
  background-color: #c0c0c0;
}

.sidebar {
  padding: 2em 1em;
  width: 10em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(black, 0.5);
  box-shadow: -1px 1px 20px -10px rgba(black, 0.2);
}

.sipario__child--fixed .sidebar {
  position: absolute;
}

#following-content {
  height: 2000px;
  margin-top: 3em;
  background-color: #cae653;
}

.anchors {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(black, 0.5);
  box-shadow: -1px 1px 20px -10px rgba(black, 0.2);
}

#mid-1,
#mid-2 {
  position: absolute;
  top: 50%;
}