body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  padding: 0 0 0 1em;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  box-shadow: 0 1px 20px -10px rgba(black, 0.2);
}

.sipario > * {
  width: 100%;
  position: relative;
  z-index: 1;
}

.sipario__child {
}

.comic__page {
  padding: 2em;
  background-color: white;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.2);
}

.comic__page:nth-child(1)  { background-color: rgb(255,255,255); }
.comic__page:nth-child(2)  { background-color: rgb(245,245,245); }
.comic__page:nth-child(3)  { background-color: rgb(235,235,235); }
.comic__page:nth-child(4)  { background-color: rgb(225,225,225); }
.comic__page:nth-child(5)  { background-color: rgb(215,215,215); }
.comic__page:nth-child(6)  { background-color: rgb(205,205,205); }
.comic__page:nth-child(7)  { background-color: rgb(195,195,195); }
.comic__page:nth-child(8)  { background-color: rgb(185,185,185); }
.comic__page:nth-child(9)  { background-color: #ffe208; }
.comic__page:nth-child(10) { background-color: #e8ff11; }
.comic__page:nth-child(11) { background-color: #cae653; }
.comic__page:nth-child(12) { background-color: #a8cf12; }
.comic__page:nth-child(13) { background-color: #62a61d; }

.navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0, 0.5);
  box-shadow: -1px 1px 20px -10px rgba(black, 0.2);
}

ul {
  padding: 1em 0;
  margin: 0;
  list-style-type: none;
}

li {
  font-size: 120%;
  text-align: center;
  padding: 0.5em 1em;
}

.credits {
  padding: 2em;
}