.sipario {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.sipario *,
.sipario *:before,
.sipario *:after {
  box-sizing: inherit;
}

.sipario__child {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.sipario__child--fixed {
  position: fixed !important;
  top: 0;
  z-index: 0;
}